/* Lock */
.lock body {
  overflow: hidden;
}
.lock main,
.lock footer {
  user-select: none;
  touch-action: none;
  pointer-events: none;
  -webkit-user-select: none;
  filter: blur(4px) brightness(0.6);
}
/* Lock */

/* Main */
.main {
  min-height: 100svh;
  transition: all 0.2s ease-in-out;
}
/* Main */

/* Article */
.article {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  min-height: 100svh;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .article {
    padding: 0 24px;
    max-width: 1024px;
  }
}
@media screen and (min-width: 1140px) {
  .article {
    padding: 0;
  }
}
/* Article */

/* Introduction */
.introduction {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100svh + 100px);
}
.introduction__container {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.introduction__text {
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-fira-medium);
  font-family: var(--font-fira-code);
}
.html.colorMode .introduction__text {
  color: var(--color-dark-blue);
}
.introduction__title {
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  color: var(--color-light);
  font-family: var(--font-inter);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-inter-extra-medium);
}
.html.colorMode .introduction__title {
  color: var(--color-dark);
}
.introduction__subtitle {
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: var(--color-gray);
  font-family: var(--font-inter);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-inter-small);
}
.html.colorMode .introduction__subtitle {
  color: var(--color-dark);
}
.introduction__quote {
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-fira-normal);
  font-family: var(--font-fira-code);
}
.html.colorMode .introduction__quote {
  color: var(--color-dark-blue);
}
.introduction__quote br {
  display: none;
}
@media screen and (min-width: 768px) {
  .introduction__container {
    gap: 0px;
  }
  .introduction__title {
    line-height: 106px;
    font-size: var(--font-inter-large);
  }
  .introduction__subtitle {
    line-height: 31px;
    margin-bottom: 12px;
    font-size: var(--font-inter-extra-normal);
  }
  .introduction__quote br {
    display: block;
  }
}
@media screen and (min-width: 1140px) {
  .introduction__title {
    line-height: 160px;
    font-size: var(--font-inter-extra-large);
  }
}
/* Introduction */

/* About */
.about {
  gap: 24px;
  display: flex;
  min-height: 100svh;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
}
.about__title {
  font-weight: 600;
  line-height: 34px;
  color: var(--color-light);
  font-family: var(--font-inter);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-inter-medium);
}
.html.colorMode .about__title {
  color: var(--color-dark);
}
.about__container {
  gap: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__content {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.about__text {
  font-weight: 400;
  line-height: 21px;
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-fira-normal);
  font-family: var(--font-fira-code);
}
.html.colorMode .about__text {
  color: var(--color-dark-blue);
}
.about__list {
  display: grid;
  gap: 12px 32px;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}
.about__item {
  gap: 12px;
  display: flex;
  font-weight: 400;
  line-height: 18px;
  align-items: center;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-fira-small);
  font-family: var(--font-fira-code);
}
.about__separator {
  color: var(--color-red);
}
.html.colorMode .about__item {
  color: var(--color-dark);
}
.about__links {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__profile {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 414px) {
  .about__list {
    justify-content: flex-start;
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (min-width: 768px) {
  .about__links {
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .about__container {
    gap: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}
/* About */

/* Icon */
.icon {
  margin-bottom: 1px;
}
/* Icon */

/* Projects */
.projects {
  gap: 24px;
  display: flex;
  min-height: 100svh;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
}
.projects__title {
  font-weight: 600;
  line-height: 34px;
  color: var(--color-light);
  font-family: var(--font-inter);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-inter-medium);
}
.html.colorMode .projects__title {
  color: var(--color-dark);
}
.projects__cards {
  gap: 24px;
  display: grid;
  grid-auto-rows: 1fr;
  align-items: stretch;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .projects__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Projects */

/* Cards */
.card {
  gap: 16px;
  height: 100%;
  display: flex;
  padding: 16px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-red);
}
.card:hover {
  transform: translateY(-8px);
  background: rgba(255, 0, 0, 0.03);
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-weight: 600;
  line-height: 24px;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
  font-size: var(--font-fira-medium);
}
.card__title::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.html.colorMode .card__title {
  color: var(--color-dark);
}
.card:hover .card__title,
.card:hover .html.colorMode .card__title {
  color: var(--color-red);
}
.card__links {
  gap: 12px;
  z-index: 999;
  display: flex;
  align-items: center;
}
.card__icon {
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
}
.html.colorMode .card__icon {
  color: var(--color-dark);
}
.card__icon:hover,
.html.colorMode .card__icon:hover {
  color: var(--color-red);
}
.card__text {
  font-weight: 400;
  line-height: 21px;
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-fira-normal);
  font-family: var(--font-fira-code);
}
.html.colorMode .card__text {
  color: var(--color-dark-blue);
}
.card__list {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}
.card__item {
  font-weight: 400;
  line-height: 16px;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
  font-size: var(--font-fira-extra-small);
}
.html.colorMode .card__item {
  color: var(--color-dark);
}
@media screen and (min-width: 414px) {
  .card {
    padding: 24px;
  }
}
/* Cards */

/* Footer */
.footer {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.footer__link {
  gap: 8px;
  display: flex;
  font-weight: 400;
  line-height: 18px;
  align-items: center;
  color: var(--color-gray);
  transition: all 0.2s ease-in-out;
  font-family: var(--font-fira-code);
  font-size: var(--font-fira-extra-small);
}
.html.colorMode .footer__link {
  color: var(--color-dark-blue);
}
.footer__link:hover,
.html.colorMode .footer__link:hover {
  color: var(--color-red);
}
.footer__icon {
  gap: 2px;
  display: flex;
  align-items: center;
  color: var(--color-red);
  transition: all 0.2s ease-in-out;
}
.footer__icon p {
  margin-top: 2px;
  color: var(--color-red);
}
@media screen and (min-width: 414px) {
  .footer__link {
    font-size: var(--font-fira-small);
  }
}
/* Footer */
